.nav-link {
    color: white !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f8f9fa !important;
}

.searchbox {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding-right: 35px;
    /* Space for the icon */
}

.searchbox::placeholder {
    color: white;
}

.searchbox:focus {
    background: transparent !important;
    color: white !important;
    box-shadow: none !important;
    border-color: white !important;
}

.search-icon {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
}

.search-icon:focus {
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: #000000ef !important;
        padding: 10px;
    }

    .navbar form {
        margin-bottom: 10px;
    }
}